@model DevLog.Models.ViewModels.PostViewModel

<div class="blog-card">
    <div class="blog-card-header">
        <div class="row text-center">
            <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                <span class="fa fa-user"></span>
                <span>
                    @Model.UserFullName
                </span>
            </div>
            <div class="col-lg-5 col-md-6 col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                        <span class="fa fa-clock"></span>
                        <span>@Model.CreateDate</span>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <span class="fa fa-comment"></span>
                        <span>
                            @Model.PostCommentViewModels.Count()
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <img src="@Model.FilePath" alt="@Model.Title">
    </div>
    <div class="blog-card-body">
        <p class="blog-card-body-title">
            @Model.Title
        </p>
        <div class="blog-card-body-text">
            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="blog-card-footer">
        <a asp-controller="Blog" asp-action="Post" asp-route-id="@Model.Id" class="btn btn-primary">Read More ...</a>
    </div>
</div>
